<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>MyListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>MySessionListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>MyRequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>ProductList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
